@font-face {
  font-display: swap;
  font-family: 'ManRope';
  font-style: normal;
  font-weight: 200 700;
  src: url('./fonts/Manrope.ttf') format('truetype');
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "ManRope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
